html {
  background: #000000;
  background: radial-gradient(ellipse at center top, #0400ff, transparent),
    radial-gradient(ellipse at center bottom, #ff0000, transparent);
  background-attachment: fixed;
  color: #ffffff;
}

body {
  background: #adacac;
  background-attachment: fixed;
  color: #ffffff;
}

h1 {
  font-weight: 300;
  margin: 0;
}
