body {
  background: linear-gradient(#302b2b, #53246e);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

h1 {
  text-align: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.viewer {
  background-color: rgba(133, 133, 133, 0.281);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 2%;
}

.accumulator {
  color: #c5c5c5;
  font-size: 1.5em;
  margin: 2%;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 96%;
}

.accumulator::-webkit-scrollbar,
.output::-webkit-scrollbar {
  width: 19.2rem;
  height: 0.2rem;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #333333;
}
::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6;
}

.current {
  color: #ffffff;
  font-size: 2em;
  margin: 2%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
}

button {
  font-size: 2em;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}
